*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: blueviolet;
    height: 40px;
}

nav a{
    color: white;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #fff;
    color: black;
}